flask==2.2.2
Pandas
regex
fastText
gensim
requests
flask_restful
suma
scattertext
Flask-Session
imageio
spacy>=3.2.4
pyvis
https://github.com/UCREL/pymusas-models/releases/download/en_dual_none_contextual-0.3.1/en_dual_none_contextual-0.3.1-py3-none-any.whl
https://github.com/UCREL/pymusas-models/releases/download/cy_dual_basiccorcencc2usas_contextual-0.3.0/cy_dual_basiccorcencc2usas_contextual-0.3.0-py3-none-any.whl