flask==2.2.2
Flask-Cors
Flask-Session
flask_restful
gensim
imageio
langdetect
matplotlib
networkx
nltk
numpy>=1.6.1
openpyxl
pandas
pandasgui
plotly.express
python-dateutil
python-dotenv
python-gettext
pyvis
regex
reportlab
requests
scattertext>=0.0.2.92
scipy==1.12.0
seaborn
spacy>=3.2.4
summa
torch
transformers
wordcloud
werkzeug==2.3.3
weasyprint
graphviz
kaleido
empath
tabulate
pymupdf
html2image
canvas
apscheduler
flask_sqlalchemy
humanize
pyabsa
en_dual_none_contextual @ https://github.com/UCREL/pymusas-models/releases/download/en_dual_none_contextual-0.3.1/en_dual_none_contextual-0.3.1-py3-none-any.whl
cy_dual_basiccorcencc2usas_contextual @ https://github.com/UCREL/pymusas-models/releases/download/cy_dual_basiccorcencc2usas_contextual-0.3.3/cy_dual_basiccorcencc2usas_contextual-0.3.3-py3-none-any.whl
